.logo img {
    height: 50px;
    width: auto;
}

.logo {
    padding-top: 15px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    height: 80px;
}

.menu-bg .logo {
    padding-top: 10px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

